<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Category</td>
                <td><input type="cat" name="category" id="cat"></td>
            </tr>
           
            <tr>
                <td colspan="2"><input type="submit" value="Add"></td>
                
            </tr>
            <tr>
                <td>Result</td>
                <td>{{result}}</td>
            </tr>
        </table>
        <br>
        <table border="1">
            <tr>
                <td>sl no</td>
                <td>Category</td>
                <td>action</td>
            </tr>
            {% for i in cate %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.category_name}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </form>

   
</body>
</html>